{% extends 'base.html.twig' %}
{% block title 'Edit Recipe'%}
{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto">
            <h1 align = "center">
                {{ recipe.title |title }}
            </h1>
            {{ form(monForm)}}
        </div>
    </div>
{% endblock %}